@media (max-width: 500px) {
  body {
    background-color: white;

    border: 1px solid red;
    box-sizing: border-box;
  }
  /* Первый лист */
  header {
    height: 800px;
    background-size: 230vw;
    background-color: white;
  }

  .header-logo {
    margin-top: -8%;
    margin-left: 12%;
    width: 70%;
  }

  .mobile-gradient {
    margin-top: 10%;
    height: 30%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 100%
    );
  }
  .mobile-header {
    background: white;
  }
  .date {
    margin-top: -1%;
    margin-left: 50%;
    width: 35%;
    height: 7vw;
    border-radius: 10vh;
    padding-top: 1.5%;
    font-size: 3.5vw;
  }
  .logo-text {
    margin-top: 2%;
    margin-left: 9.57%;
    width: 85%;
  }
  .header-text {
    width: 65%;
    margin-top: 4%;
    margin-left: 10%;
    font-size: 2.9vw;
    line-height: 3.627vw;
  }

  .headerbtn {
    margin: 10% 0 0 20%;
    width: 60%;
    height: 9.9vw;
    border-radius: 10vh;
    font-size: 4.3vw;
  }
  /* Второй лист */
  .article-title {
    width: 50%;
    padding-top: 6.078vw;
    margin-left: 11.182vw;
    font-size: 5.929vw;
  }
  .article-text-block {
    width: 63%;
    margin: 0.846vw 0 6.078vw 11.182vw;
    font-size: 3.5vw;
    line-height: 3.627vw;
    padding-bottom: 9.078vw;
  }

  .article-text-block p {
    padding-top: 3.278vw;
  }

  /* Второй текстовый блок */
  .text-item {
    margin-top: -10%;
    background: white;
  }
  .first-item {
    width: 63%;
    padding-top: 2.078vw;
    margin-left: 11.182vw;
    font-size: 3.5vw;
    line-height: 3.627vw;
  }

  .first-item p {
    padding-top: 5.302vw;
  }
  /* Третий текстовый блок */

  .second-text-title {
    width: 50%;
    padding-top: 3.078vw;
    margin-left: 11.182vw;
    margin-bottom: 5vw;
    font-size: 7.929vw;
  }

  .article-text-second p {
    width: 63%;
    padding-top: 0.125vw;
    margin-left: 11.182vw;
    font-size: 3.5vw;
  }
  /* Что вы получите, пройдя курс? */
  .course-information {
    background-color: white;
  }
  .course-info {
    margin-left: 11.182vw;
  }
  .course-info-title {
    margin-top: -10%;
    width: 80%;
    padding-bottom: 5.125vw;
    font-size: 7.929vw;
  }

  .info-list {
    width: 90%;
    column-gap: 2.627vw;
    row-gap: 2.627vw;
    margin-bottom: 8.078vw;
  }
  .course-info-list-item {
    width: 32.974vw;
    height: 22.974vw;
    border-radius: 10px;
    padding-left: 3vw;
  }

  .course-info-list-item p {
    font-size: 2.8vw;
  }

  /* Курс подойдет для всех */
  .course-suitable {
    overflow: hidden;
  }
  .course-audience {
    padding-bottom: 34.078vw;
  }
  .course-audience-title {
    width: 60%;
    margin-left: 11.182vw;
    font-size: 7.929vw;
  }
  .audience-picture {
    z-index: 1;
    margin-top: 110.161vw;
    margin-left: 25.552vw;
    max-width: 150%;
    height: 100%;
  }
  .list {
    padding-top: 1.823vw;
    padding-left: 11.786vw;
  }
  .audience-list-item {
    margin-top: 2.302vw;
    width: 81.083vw;
    min-height: 21.371vw;
    border-radius: 20vh;
    padding: 2vw 0 0 6.702vw;
    font-size: 4.5vw;
  }

  .audience-list-item p {
    width: 87%;
  }

  .list-icon {
    display: none;
  }
  .audience-text {
    z-index: 4;
    margin: 3.125vw 0 0 11.182vw;
    position: relative;
    width: 81.083vw;
    height: 43.463vw;
    padding: 3.302vw 0 0 7.953vw;
    border-radius: 5vh;
    font-size: 4.5vw;
  }
  .audience-text p {
    width: 89%;
  }

  /* Программа курса */
  .course-program-title {
    padding-bottom: 5.125vw;
    margin-left: 11.182vw;
    font-size: 7.929vw;
  }
  .course-program-block {
    margin-left: 11.531vw;
    width: 71.594vw;
  }

  h3 button {
    height: 10.078vw;
    padding: 2.953vw 0;
    width: 67.385vw;
    font-size: 3.302vw;
  }

  .program-text {
    padding: 3.125vw 0;
    font-size: 2.202vw;
    line-height: 2.627vw;
  }

  .program-video {
    padding: 3.125vw 0 0 23.833vw;
  }

  .program-video > iframe {
    height: 50.953vw;
  }

  /* Суфийское пространство */
  .space {
    background-position: top;
    background-size: 77vh;
    height: 139.9vw;
    margin-top: 8.812vw;
  }
  .space-block {
    border-radius: 5vh;
    width: 70.848vw;
    height: 120.317vw;
    margin-left: 14.531vw;
    margin-top: 14.276vw;
  }
  .space-block-title {
    padding: 5.078vw 0 0 4.906vw;
    font-size: 7.929vw;
  }
  .space-block-text {
    padding-left: 4.906vw;
    width: 55.338vw;

    font-size: 3.5vw;
    line-height: 3.5vw;
  }
  .space-block-text p {
    padding-top: 3.627vw;
    width: 115%;
  }

  .space-btn {
    width: 55%;
    height: 6vw;
    border-radius: 10vh;
    margin-left: 4.906vw;
    margin-top: 4.125vw;
    font-size: 3.5vw;
  }

  /* Что вы сможете после курса */
  .course-possibilities {
    margin-top: 5.859vw;
    height: 800px;
  }
  .course-possibilities-title {
    padding: 5.208vw 0 5.953vw 11.182vw;
    font-size: 7.929vw;
    width: 70%;
  }
  .possibilities-list {
    padding: 2.604vw 0 0 16.182vw;
    font-size: 3.5vw;
    width: 65%;
  }

  .number {
    margin-left: -10.557vw;
    padding-top: 0.9vw;
    width: 5.953vw;
    height: 5.953vw;

    font-size: 3.302vw;
  }

  /* Лицензии */
  .documents-block {
    height: 1550px;
  }
  .documents-block-title {
    margin: 6.557vw 0 1.953vw 11.182vw;
    font-size: 7.929vw;
  }
  .document-text {
    margin-bottom: 3.125vw;
    margin-left: 11.182vw;
    width: 70%;
    font-size: 4.5vw;
    line-height: 4.627vw;
  }

  .document-text p {
    padding-top: 4.953vw;
  }

  .img-container {
    display: flex;
    flex-wrap: wrap;
  }
  .document-image {
    margin-top: 5.125vw;
    margin-bottom: 5.078vw;
    height: 19.531vw;
    cursor: pointer;
  }
  .first-doc {
    width: 170%;
    margin-left: 30%;
  }
  .second-doc {
    position: absolute;
    width: 40vh;
    margin-left: -1.953vw;
    margin-top: 70vw;
  }

  /* Slider */
  .swiper-slide {
    padding-left: 9.302vw;
  }

  .swiper {
    margin: 10vw 0;
    width: 70%;
    height: 20%;
  }

  .swiper-slide img {
    width: 75%;
    margin-left: 1.953vw;
  }

  /* price block */
  .price-block {
    height: 1700px;
  }
  .price-block-title {
    padding: 19.078vw 0 8.255vw 11.182vw;
    font-size: 7.929vw;
  }
  .price-title {
    width: 44.276vw;
    padding-top: 4.302vw;
    padding-left: 8.627vw;
  }
  .price-block_1 {
    width: 55.531vw;
    height: 77.599vw;
    border-radius: 3vh;
    margin-left: 20.182vw;
  }

  .first-block {
    height: 42.276vw;
    width: 48.578vw;
    border-radius: 3vh;
    margin-top: 3.302vw;
    margin-left: 3.176vw;
  }
  .block-list {
    padding: 3.302vw 0 0 7.255vw;
    font-size: 3.9vw;
  }
  .block-list:first-child {
    margin-top: 0.651vw;
  }
  .line {
    width: 80%;
    margin-top: 2.651vw;
    margin-left: 2.302vw;
  }

  .present-block {
    margin-top: 2.781vw;
    margin-left: 3.176vw;
    height: 12.836vw;
    width: 48.578vw;
    border-radius: 2.5vh;
  }

  .present {
    padding-top: 2.953vw;
    padding-left: 3.302vw;
  }
  .present img {
    margin-top: -0.651vw;
    width: 15%;
  }
  .present p {
    font-size: 3.9vw;
    margin-left: 9.557vw;
    margin-top: -7.39vw;
  }
  .price-block-item {
    font-size: 3.7vw;
    line-height: 6.578vw;
  }

  .price_1 p {
    margin-left: 30.833vw;
    padding-top: 2.5vw;
  }

  .price_1 span {
    font-size: 7.604vw;
  }

  .block_2-title {
    margin: 1.951vw 0 0.651vw 0;
    text-align: center;
    font-size: 3vw;
  }
  .price-block_2 img {
    margin: -5vw 0 0.976vw -3.555vw;
    width: 79.297vw;
  }
  .second-block_1 {
    margin-top: 100.539vw;
    width: 55.531vw;
    height: 104.599vw;
    border-radius: 3vh;
    margin-left: -21.282vw;
  }
  .left-right-block {
    display: inline;
  }
  .block-left {
    margin-top: 2vw;
    margin-left: 4vw;
    width: 55.903vw;
    font-size: 4vw;
  }

  .block-left p {
    padding: 1.927vw 0 0 1.927vw;
  }

  .block-right {
    margin-top: 4vw;
    margin-left: 4vw;
    width: 46.531vw;
    height: 46.893vw;
    border-radius: 2vh;
  }
  .block-right_item {
    width: 46.401vw;
    height: 12.078vw;
    border-radius: 3vh;
    font-size: 4.758vw;
    text-align: center;
    padding-top: 2vw;
  }
  .block-right_item p {
    padding: 1.302vw 1.953vw;
  }
  .right-text {
    padding-top: 1.627vw;
    padding-left: 2.604vw;
  }

  .right-text p {
    font-size: 4vw;
    padding-top: 1.3vw;
  }

  .right-text-item {
    font-size: 9.255vw;
    margin-top: 2.906vw;
    margin-left: 21.8125vw;
  }

  .price_2 {
    position: absolute;
    margin-top: 135.474vw;
    margin-left: 31vw;
  }
  .price_2 span {
    font-size: 7.604vw;
  }

  /* Кнопки оплаты */
  .order {
    display: inline;
  }

  .order-first {
    margin-left: 25vw;
  }
  .order-first button {
    margin-top: 0.302vw;
    width: 44.531vw;
    height: 8vw;
    border-radius: 2vh;
    font-size: 4vw;
  }

  .order-second button {
    margin-top: 160.302vw;
    margin-left: 25vw;
    width: 44.531vw;
    height: 8vw;
    border-radius: 2vh;
    font-size: 4vw;
  }

  .price-text {
    width: 70%;
    margin: 9.557vw 0 0 11.182vw;
    padding-bottom: 5.859vw;
    font-size: 4vw;
  }

  /* finish list */
  .finish-block-title {
    margin: 12.557vw 0 0 11.182vw;
    font-size: 7.929vw;
  }
  .finish-list {
    margin-top: 6vw;
    margin-left: 11.182vw;
    font-size: 3.5vw;
    padding: 0;
  }
  .finish-list li {
    margin: 4vw 0;
    height: 8.604vw;
    width: 80%;
  }
  .finish-list li:first-child {
    margin-bottom: 10vw;
  }

  .finish-list li:nth-child(6) {
    margin-bottom: 7vw;
  }

  .finish-list-item {
    background-size: 8.8%;
    padding-left: 12.557vw;
    padding-top: 2.651vw;
  }

  .reviews ul {
    width: 90.526vw;
    margin: 8.955vw 0 0 30.997vw;
    display: inline;
    font-size: 3.5vw;
  }
  .reviews-list {
    margin-top: 7vw;
    margin-left: 17.531vw;
    text-align: center;
    width: 63.021vw;
  }
  .percent {
    font-size: 12.255vw;
    margin-bottom: 2.302vw;
  }

  /* Slider 2 */
  .reviews-swiper > .swiper {
    width: 90%;
    margin-top: 1.125vw;
    padding-left: 4.053vw;
  }

  /* Slider 3 */

  .slider_3 > .swiper {
    margin: 1.125vw 0 5.078vw 5.182vw;
    width: 300%;
    padding-right: 10vw;
  }

  .swiper-slide > iframe {
    width: 70%;
    height: 39vh;
  }

  /* Footer */
  .footer {
    height: 88.552vw;
  }
  .footer-name {
    margin-top: 7.078vw;
    margin-left: 26%;
    width: 50%;
  }
  .footer-btn {
    width: 44.531vw;
    height: 8vw;
    border-radius: 2vh;
    font-size: 4vw;
    margin-left: 27.8%;
    margin-top: 10%;
  }
}
