@media (max-width: 375px) and (max-width: 500px) {
  /* Первый лист */
  header {
    height: 480px;
    background-size: 220%;
    background-color: white;
  }

  .header-logo {
    margin-top: 0.2%;
    margin-left: 17%;
    width: 60%;
  }

  .mobile-gradient {
    margin-top: 10%;
    height: 30%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 100%
    );
  }
  .mobile-header {
    background: white;
  }
  .date {
    margin-top: -1%;
    margin-left: 50%;
    width: 35%;
    height: 7vw;
    border-radius: 10px;
    padding-top: 1.5%;
    font-size: 3.5vw;
  }
  .logo-text {
    margin-top: 2%;
    margin-left: 9.57%;
    width: 85%;
  }
  .header-text {
    width: 65%;
    margin-top: 4%;
    margin-left: 10%;
    font-size: 2.9vw;
    line-height: 3.627vw;
  }

  .headerbtn {
    margin: 6% 0 10% 29%;
    width: 40%;
    height: 5.9vw;
    border-radius: 10px;
    font-size: 3.3vw;
  }
  /* Второй лист */
  .article-title {
    padding-top: 6.078vw;
    margin-left: 11.182vw;
    font-size: 5.929vw;
  }
  .article-text-block {
    width: 67%;
    margin: 0.846vw 0 6.078vw 11.182vw;
    font-size: 2.9vw;
    line-height: 3.627vw;
    padding-bottom: 6.078vw;
  }

  .article-text-block p {
    padding-top: 3.278vw;
  }

  /* Второй текстовый блок */
  .text-item {
    margin-top: -8%;
    background: white;
  }
  .first-item {
    width: 67%;
    padding-top: 7.078vw;
    margin-left: 11.182vw;
    font-size: 2.9vw;
    line-height: 3.627vw;
  }

  .first-item p {
    padding-top: 5.302vw;
  }
  /* Третий текстовый блок */

  .second-text-title {
    padding-top: 3.078vw;
    margin-left: 11.182vw;
    font-size: 7.929vw;
  }

  .second-item {
    width: 67%;
    padding-top: 5.125vw;
    padding-bottom: 5.078vw;
    margin-left: 11.182vw;
    font-size: 2.9vw;
  }
  /* Что вы получите, пройдя курс? */
  .course-information {
    background-color: white;
  }
  .course-info {
    margin-left: 11.182vw;
  }
  .course-info-title {
    width: 80%;
    padding-bottom: 5.125vw;
    font-size: 7.929vw;
  }

  .info-list {
    width: 90%;
    column-gap: 2.627vw;
    row-gap: 2.627vw;
    padding-bottom: 5.078vw;
  }
  .course-info-list-item {
    width: 32.974vw;
    height: 22.974vw;
    border-radius: 10px;
    padding-left: 3vw;
  }

  .course-info-list-item p {
    font-size: 2.8vw;
  }

  /* Курс подойдет для всех */
  .course-audience {
    background: var(--main-color);
  }
  .course-audience-title {
    width: 60%;
    margin-left: 11.182vw;
    font-size: 7.929vw;
  }
  .audience-picture {
    margin-top: 93.161vw;
    margin-left: 52.552vw;
  }
  .list {
    padding-top: 1.823vw;
    padding-left: 11.786vw;
  }
  .audience-list-item {
    margin-top: 2.302vw;
    width: 66.083vw;
    min-height: 9.371vw;
    border-radius: 20px;
    padding: 0.651vw 0 0 3.702vw;
    font-size: 3vw;
  }

  .audience-list-item p {
    padding-top: 1.7vw;
  }

  .list-icon {
    display: none;
  }
  .audience-text {
    z-index: 4;
    margin: 3.125vw 0 0 11.182vw;
    position: relative;
    width: 66.083vw;
    height: 22.463vw;
    padding: 2.302vw 0 0 1.953vw;
    border-radius: 15px;
    font-size: 3vw;
  }
  .audience-item {
    padding-bottom: 5.078vw;
  }
  /* Программа курса */
  .course-program-title {
    padding-top: 5.078vw;
    padding-bottom: 3.125vw;
    margin-left: 25.182vw;
    color: var(--main-color);
    font-size: 2.929vw;
  }
  .course-program-block {
    border-style: solid;
    border-style: none;
    border-bottom: 0.1vw solid var(--dark-color);
    margin-left: 25.531vw;
    width: 48.594vw;
  }

  .course-program-block h3 {
    border-top: 0.1vw solid var(--dark-color);
  }

  h3 button {
    border: 0;
    display: flex;
    justify-content: space-between;
    height: 5.078vw;
    padding: 1.953vw 0;
    color: var(--dark-color);
    width: 45.385vw;
    font-size: 1.302vw;
  }

  h3 button:focus svg {
    outline: 0.065vw solid var(--dark-color);
  }

  button svg {
    height: 1em;
    margin-left: 0.5em;
  }

  .program-text {
    padding: 3.125vw 0;
    color: var(--dark-color);
    font-size: 1.202vw;
    line-height: 1.627vw;
  }

  .program-text p {
    padding-top: 1.627vw;
  }

  .program-video {
    padding: 3.125vw 0 0 14.833vw;
  }

  .program-video > iframe {
    width: 50%;
    height: 26.953vw;
  }

  [aria-expanded='true'] .vert {
    display: none;
  }

  [aria-expanded] rect {
    fill: currentColor;
  }

  /* Суфийское пространство */
  .space {
    background-size: 100%;
    background-image: url(img/waves.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 85.9vw;

    margin-top: 7.812vw;
  }
  .space-block {
    position: absolute;
    border: 0.065vw solid var(--dark-color);
    background-color: white;
    border-radius: 2.278vw;
    width: 51.848vw;
    height: 47.317vw;
    margin-left: 25.531vw;
    margin-top: 16.276vw;
  }
  .space-block-title {
    padding: 5.078vw 0 0 3.906vw;
    font-size: 2.604vw;
    color: var(--dark-color);
  }
  .space-block-text {
    padding-left: 3.906vw;
    width: 55.338vw;
    padding-top: 1.125vw;
    font-size: 1.337vw;
    line-height: 1.627vw;
    color: var(--dark-color);
  }
  .space-block-text p {
    padding-top: 1.627vw;
  }

  .space-btn {
    width: 30%;
    margin-left: 3.906vw;
    margin-top: 3.125vw;
  }

  .space-btn > a {
    color: white;
  }

  /* Что вы сможете после курса */
  .course-possibilities {
    margin-top: 5.859vw;
    height: 75.359vw;
    background: var(--main-color);
  }
  .course-possibilities-title {
    padding: 5.208vw 0 1.953vw 25.531vw;
    font-size: 2.604vw;
    color: white;
  }
  .possibilities-list {
    margin-left: 7.161vw;
    padding: 2.604vw 0 0 22.531vw;
    font-size: 1.497vw;
    width: 58.594vw;
    color: white;
  }

  .number {
    position: absolute;
    margin-left: -4.557vw;
    padding-top: 0.195vw;
    border: 0.065vw solid var(--main-color);
    background: white;
    color: var(--dark-color);
    width: 1.953vw;
    height: 1.953vw;
    border-radius: 3.255vw;
    font-size: 1.302vw;
    text-align: center;
  }

  /* Лицензии */
  .documents-block {
    height: 89.635vw;
  }
  .documents-block-title {
    margin: 4.557vw 0 1.953vw 25.531vw;
    font-size: 2.929vw;
    color: var(--dark-color);
  }
  .document-text {
    margin-bottom: 3.125vw;
    margin-left: 25.531vw;
    width: 52.083vw;
    font-size: 1.497vw;
    color: var(--dark-color);
    line-height: 1.627vw;
  }

  .document-text p {
    padding-top: 1.953vw;
  }

  .img-container {
    display: flex;
  }
  .document-image {
    margin-top: 3.125vw;
    margin-bottom: 5.078vw;
    display: flex;
    justify-content: space-between;
    height: 19.531vw;
    cursor: pointer;
  }
  .first-doc {
    width: 37%;
  }
  .second-doc {
    width: 90%;
    margin-left: 1.953vw;
    padding-top: 2.2vw;
  }

  /* Slider */

  .swiper-slide {
    padding-left: 1.302vw;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 70%;
    height: 40%;
    position: relative;

    transition: transform 0.2s;
  }

  .swiper {
    width: 25%;

    height: 20%;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
  }

  .swiper-slide::after {
    margin-left: 1.627vw;
    position: absolute;
    top: 0;
  }
  .swiper-slide img {
    width: 75%;
    margin-left: 1.953vw;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 1.953vw !important;
    width: 3.255vw !important;
    height: 3.255vw !important;
    border-radius: 50%;
    color: var(--main-color);
    cursor: pointer;
    transition: 0.6s ease;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background: #a5c6cd;
    border-radius: 50%;
    width: 1.302vw;
    height: 1.302vw;
  }

  /* price block */
  .price-block {
    background-color: var(--main-color);
  }
  .price-block-title {
    padding: 5.078vw 0 3.255vw 20.531vw;
    font-size: 3.645vw;
    color: white;
  }
  .price-title {
    width: 16.276vw;
    padding-top: 1.302vw;
    padding-left: 1.627vw;
  }
  .price-block_1 {
    border: 0.065vw solid white;
    width: 19.531vw;
    height: 30.599vw;
    border-radius: 2.278vw;
    margin-left: 20.182vw;
  }

  .first-block {
    border: 0.065vw solid white;
    background-color: white;
    height: 16.276vw;
    width: 17.578vw;
    border-radius: 2.278vw;
    margin-top: 1.302vw;
    margin-left: 0.976vw;
  }
  .block-list {
    list-style-type: none;
    align-self: center;
    padding: 1.302vw 0 0 3.255vw;
    font-size: 1.562vw;
    color: var(--dark-color);
  }
  .block-list:first-child {
    margin-top: 0.651vw;
  }
  .line {
    width: 80%;
    margin-top: 0.651vw;
    margin-left: 1.302vw;
    border-top: 0.065vw solid var(--main-color);
  }

  .present-block {
    margin-top: 0.781vw;
    margin-left: 0.976vw;
    border: 0.065vw solid white;
    background-color: white;
    height: 6.836vw;
    width: 17.578vw;
    border-radius: 2.278vw;
  }

  .present {
    padding-top: 1.953vw;
    padding-left: 1.302vw;
  }
  .present img {
    margin-top: -0.651vw;
    width: 20%;
  }
  .present p {
    font-size: 1.562vw;
    color: var(--dark-color);
    margin-left: 4.557vw;
    margin-top: -3.19vw;
  }
  .price-block-item {
    width: 39.0625vw;
    margin-left: 20.833vw;
    margin-top: 2.604vw;
    color: white;
    font-size: 1.497vw;
    line-height: 2.278vw;
  }

  .price_1 {
    display: flex;
    justify-content: space-between;
  }

  .price_1 span {
    font-size: 2.604vw;
  }

  .price_2 {
    width: 34.505vw;
    margin-top: 2.604vw;
    display: flex;
    justify-content: space-between;
    z-index: 5;
  }
  .price_2 span {
    font-size: 2.604vw;
  }

  .decoration {
    z-index: 3;
    color: #a5c6cd;
    font-size: 1.627vw;
    margin-bottom: -1.953vw;
    text-decoration: line-through;
  }

  .price-block_2 {
    position: absolute;
    margin: -33.203vw 0 0 41.666vw;
  }
  .block_2-title {
    margin: 0.651vw 0 0.651vw 14.974vw;
    color: white;
    font-size: 1.497vw;
  }
  .price-block_2 img {
    margin: -2.799vw 0 0.976vw 3.255vw;
    width: 29.297vw;
  }
  .second-block_1 {
    margin-top: 2.539vw;
    border: 0.065vw solid white;
    width: 39.0625vw;
    height: 30.599vw;
    border-radius: 2.278vw;
  }
  .left-right-block {
    display: flex;
  }
  .block-left {
    width: 17.903vw;
    color: white;
    font-size: 1.562vw;
  }

  .block-left p {
    padding: 1.627vw 0 0 1.627vw;
  }

  .block-right {
    margin-left: 0.651vw;
    width: 19.531vw;
    height: 23.893vw;
    background: linear-gradient(95deg, #285365, var(--main-color));
    border-radius: 2.278vw;
  }
  .block-right_item {
    border: 0.065vw solid #285365;
    background-color: #285365;
    width: 19.401vw;
    height: 5.078vw;
    border-radius: 2.474vw;
    font-size: 1.758vw;
    color: white;
    text-align: center;
  }
  .block-right_item p {
    padding: 1.302vw 1.953vw;
  }
  .right-text {
    padding-top: 1.627vw;
    padding-left: 2.604vw;
  }

  .right-text p {
    color: white;
    font-size: 1.562vw;
    padding-top: 0.03vw;
  }

  @font-face {
    font-family: 'Young Love ES';
    src: url('./fonts/younglovees.ttf');
  }
  .right-text-item {
    font-family: 'Young Love ES';
    font-size: 3.255vw;
    color: white;
    margin-top: 3.906vw;
    margin-left: 7.8125vw;
  }

  .second-block-price {
    position: absolute;
    margin-left: 39.713vw;
    margin-top: -15.364vw;
    color: white;
    font-size: 1.627vw;
  }
  /* Кнопки оплаты */
  .order {
    margin-left: 20.182vw;
    margin-top: 3.255vw;
    display: flex;
  }

  .order-first {
    width: 19.531vw;
  }
  .order-first button {
    margin-top: 1.302vw;
  }

  .order-second {
    width: 19.531vw;
  }
  .order-second button {
    margin-top: 1.302vw;
    margin-left: 1.302vw;
  }
  .pay {
    background-color: white;
    color: var(--dark-color);
    font-size: 1.497vw;
    width: 17.578vw;
    height: 4.557vw;
    border-radius: 2.929vw;
    padding: 0;
  }

  /* .install {
    padding: 0;
    background-color: white;
    color: var(--dark-color);
    font-size: 1.497vw;
    width: 17.578vw;
    height: 4.557vw;
    border-radius: 2.929vw;
  } */

  .price-text {
    margin: 4.557vw 0 0 20.182vw;
    padding-bottom: 5.859vw;
    color: white;
    font-size: 1.627vw;
  }

  /* finish list */
  .finish-block-title {
    margin: 4.557vw 0 0 25.531vw;
    font-size: 2.929vw;
    color: var(--dark-color);
  }
  .finish-list {
    margin-left: 23.531vw;
    font-size: 1.302vw;
    color: var(--dark-color);
    padding: 1.302vw 1.302vw;
  }
  .finish-list li {
    margin-top: 2.153vw;
    height: 2.604vw;
  }

  .finish-list-item {
    background: url(./img/Star\ 12.svg) no-repeat center left;
    background-size: 2.8%;
    padding-left: 4.557vw;
    padding-top: 0.651vw;
  }

  .reviews ul {
    width: 69.526vw;
    margin: 7.955vw 0 0 10.997vw;
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    font-size: 1.302vw;
  }
  .reviews-list {
    margin-left: 10.531vw;
    text-align: center;
    width: 13.021vw;
  }
  .percent {
    font-size: 3.255vw;
    margin-bottom: 1.302vw;
  }

  /* Slider 2 */
  .reviews-swiper > .swiper {
    width: 30%;
    margin-top: 1.125vw;
    padding-left: 1.053vw;

    position: relative;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
  }

  /* Slider 3 */

  .slider_3 {
    margin: 3.125vw 0 5.078vw 0;
    width: 30%;
  }

  /* Footer */
  .footer {
    background-color: var(--main-color);
    height: 38.552vw;
  }
  .footer-name {
    margin-top: 4.078vw;
    margin-left: 41%;
    width: 20%;
  }
  .footer-btn {
    width: 15%;
    height: 4vw;
    margin-left: -17.8%;
    margin-top: 25%;
    font-size: 1.497vw;
    transition: 0.2s;
  }
  .footer-btn > a {
    color: var(--main-color);
  }
  .footer-btn:hover {
    opacity: 0.7;
  }

  .footer-logo {
    margin-top: 32.552;
    margin-left: -33%;
    width: 50%;
  }
}
