@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

*:root {
  --main-color: #477a8d;
  --dark-color: #114b66;
  --light-color: #a5c6cd;
}
body {
  font-family: 'Forum';
  max-width: 1550.56px;
}

header {
  max-height: 970px;
  padding: 0;
  background-image: url(./img/header-photo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-logo {
  margin-top: 80px;
  margin-left: 30%;
  align-items: center;
  width: 550px;
  height: 100px;
}

.date {
  margin-top: 110px;
  margin-left: 1000px;
  padding: 12px 80px 12px;
  width: max-content;
  border: solid 0.5px;
  border-color: var(--main-color);
  border-radius: 30px;

  font-family: 'Forum';
  font-size: 20px;
  color: var(--main-color);
}
.logo-text {
  margin-top: 30px;
  margin-left: 700px;
}
.header-text {
  margin-top: 40px;
  margin-left: 680px;
  font-family: 'Forum';
  font-size: 20px;
  line-height: 25px;
  color: var(--main-color);
}
@media (max-width: 500px) {
  header {
    max-height: 420px;
  }
  .header-logo {
    margin-top: 10px;
    margin-left: 40%;
    width: 200px;
    height: 100px;
  }
  .date {
    margin-top: 30px;
    margin-left: 65%;
    padding: 5px 20px 5px;
    border-radius: 30px;
    font-size: 10px;
  }
  .logo-text {
    margin-top: 3px;
    margin-left: 50%;
    width: 250px;
    height: 80px;
  }
  .header-text {
    margin-top: 20px;
    margin-left: 50%;

    font-size: 10px;
    line-height: 15px;
  }
}

.btn {
  margin-top: 40px;
  margin-bottom: 170px;
  padding: 12px 80px 12px;
  border: solid 0.5px;
  border-color: var(--main-color);
  background-color: var(--main-color);
  border-radius: 30px;

  font-family: 'Forum';
  font-size: 25px;
  width: 200;
  color: white;
}

.btn :hover {
  opacity: 0.5;
}

@media (max-width: 500px) {
  .btn {
    margin-top: 10px;
    margin-left: 50%;
    margin-bottom: 170px;
    padding: 5px 20px 5px;
    border-radius: 30px;
    font-size: 10px;
  }
}

.article {
  max-height: 600px;
  background: var(--main-color);
  background: linear-gradient(85deg, #114b66, var(--main-color));
}
.article-title {
  position: relative;
  padding-top: 40px;
  margin-left: 310px;
  font-size: 40px;
  font-weight: 300;
  line-height: 10px;
  color: #efeeea;
}
.article-text {
  position: relative;

  padding-top: 30px;
  margin-left: 310px;
  font-size: 18px;
  color: #efeeea;
}

@media (max-width: 500px) {
  .article {
    max-height: 350px;
  }
  .article-title {
    padding-top: 30px;
    margin-left: 20%;
    font-size: 20px;
  }
  .article-text {
    padding-top: 30px;
    margin-left: 10%;
    font-size: 10px;
    color: #efeeea;
  }
  .text {
    padding-bottom: 10px;
  }

  .article-img {
    margin-left: 10%;
    margin-top: auto;
    width: 400px;
    height: 380px;
  }

  figure {
    margin-left: 10%;
    margin-top: auto;
  }
}

.text {
  position: relative;
  padding-bottom: 90px;
}

.article-img {
  position: absolute;
  margin-left: 920px;
  margin-top: -406px;
  width: 400px;
  height: 380px;
}

figure {
  position: absolute;
  margin-left: 980px;
  margin-top: -350px;
}

.article-text-first {
  height: 230px;
}
.first-item {
  margin-top: 80px;
  margin-left: 310px;
  font-size: 20px;
  color: var(--main-color);
}
.article-text-second {
  height: 350px;
  background-color: var(--main-color);
}
.second-text-title {
  padding-top: 35px;
  margin-left: 310px;
  color: #ffff;
  font-size: 40px;
}
.second-item {
  padding-top: 50px;
  margin-left: 310px;
  font-size: 23px;
  color: #ffff;
}
.course-info {
  height: max-content;
  margin-left: 310px;
  height: 700px;
}
.course-info-title {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 40px;
  color: var(--dark-color);
}

.info-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 20px;
}
.course-info-list-item {
  width: 230px;
  height: 230px;
  border-radius: 20px;
  background-color: #f3f5f7;
  align-items: center;

  font-size: 20px;
  color: var(--dark-color);
}

.course-info-list-item p,
img {
  padding-left: 30px;
  padding-top: 30px;
}

.course-audience {
  max-width: 1570px;
  height: 1100px;
  background: var(--main-color);
}
.course-audience-title {
  padding-top: 70px;
  margin-left: 310px;
  color: white;
  font-size: 40px;
}
.list {
  padding-top: 50px;
  padding-left: 350px;
}
.audience-list-item {
  width: 500px;
  margin-top: 20px;
  padding: 20px 10px 20px 30px;
  border: solid 0.5px;
  border-color: var(--main-color);
  background-color: #eaf5f9;
  border-radius: 40px;

  font-size: 18px;
  color: var(--dark-color);
}
.list-icon {
  position: absolute;
  margin-top: -31px;
  margin-left: -120px;
}
.audience-picture {
  position: absolute;
  display: flex;
  margin-top: -570px;
  margin-left: 700px;
  width: 696px;
  height: 389px;
}
.audience-text {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 300px;
  width: 700px;

  padding: 20px 10px 20px 30px;
  border: solid 0.5px;
  border-color: var(--main-color);
  background-color: #77b2c8;
  border-radius: 40px;
  font-size: 20px;
  color: white;
}

/* Программа курса */
.course-program-title {
  padding-top: 70px;
  padding-bottom: 30px;
  margin-left: 310px;
  color: var(--main-color);
  font-size: 40px;
}
.program-text {
  width: 750px;
  margin-left: 210px;
  padding-top: 40px;
  font-size: 20px;
  line-height: 25px;
  color: var(--dark-color);
}

.program-text span {
  margin-left: 25px;
  font-size: 27px;
}

.program-text p {
  margin-top: 25px;
}
.program-video {
  padding-top: 30px;
  margin-left: 400px;
}
.create-line {
  margin-top: 20px;
  width: 1000px;
  border-top: 3px solid var(--dark-color);
}

/* Суфийское пространство */
.space {
  background-image: url(img/waves.png);
  background-repeat: no-repeat;
  height: 1108px;
  margin-top: 120px;
}
.space-block {
  position: absolute;
  border: 2px solid var(--dark-color);
  background-color: white;
  border-radius: 35px;
  width: 950px;
  height: 650px;
  margin-left: 280px;
  margin-top: 250px;
}
.space-block-title {
  padding: 60px 0 10px 60px;
  font-size: 40px;
  color: var(--dark-color);
}
.space-block-text {
  padding-left: 60px;
  width: 850px;
  padding-top: 40px;
  font-size: 19px;
  line-height: 25px;
  color: var(--dark-color);
}
.space-block-text p {
  padding-top: 25px;
}

.space-btn {
  margin-left: 60px;
}

/* Что вы сможете после курса */
.course-possibilities {
  margin-top: 90px;
  height: 1050px;
  background: linear-gradient(85deg, #114b66, var(--main-color));
}
.course-possibilities-title {
  padding: 80px 0 30px 300px;
  font-size: 50px;
  color: white;
}
.possibilities-list {
  padding: 40px 0 0 250px;
  font-size: 23px;
  width: 900px;
  color: white;
}

.number-list {
  position: absolute;
  margin-top: -35px;
  margin-left: -95px;
}

/* Лицензии */
.documents-block {
  height: 1300px;
}
.documents-block-title {
  margin-top: 70px;
  margin-left: 250px;
  font-size: 50px;
  color: var(--dark-color);
}
.document-text {
  margin-left: 210px;
  width: 800px;
  font-size: 23px;
  color: var(--main-color);
  line-height: 25px;
}

.document-text p {
  padding-top: 30px;
}

/* Slider */
.slider {
  margin-top: 30px;
  margin-left: 250px;
  height: 380px;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: auto;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

/* price block */
.price-block {
  background-color: var(--main-color);
}
.price-block-title {
  padding: 50px 0 0 230px;
  font-size: 50px;
  color: white;
}
.price-title {
  margin-left: 230px;
}
.price-block_1 {
  border: 1px solid white;
  width: 300px;
  height: 515px;
  border-radius: 35px;
  margin-left: 220px;
  margin-top: 40px;
}

.first-block {
  border: 1px solid white;
  background-color: white;
  height: 360px;
  width: 270px;
  border-radius: 35px;
  margin-top: 15px;
  margin-left: 15px;
}
.block-list {
  list-style-type: disc;
  margin: 25px 0 0 40px;
  font-size: 20px;
  color: var(--dark-color);
}

.present-block {
  margin-top: 12px;
  margin-left: 15px;
  border: 1px solid white;
  background-color: white;
  height: 105px;
  width: 270px;
  border-radius: 35px;
}
.present img {
  margin-top: -10px;
}
.present p {
  font-size: 20px;
  color: var(--dark-color);
  margin-left: 85px;
  margin-top: -40px;
}
.price-block-item {
  margin-left: 230px;
  margin-top: 30px;
  color: white;
  font-size: 25px;
}
.price_1 span {
  color: #f4944c;
}
.price_2 {
  padding-top: 25px;
}

.price_2 span {
  color: #a5c6cd;
  text-decoration: line-through;
}
.price-block_2 {
  position: absolute;
  margin: -775px 0 0 550px;
}
.block_2-title {
  margin-left: 250px;
  color: rgba(255, 255, 255, 0.671);
  font-size: 23px;
}
.price-block_2 img {
  margin-top: -32px;
  margin-left: 101px;
}
.second-block_1 {
  margin-top: 39px;
  border: 1px solid white;
  width: 600px;
  height: 515px;
  border-radius: 35px;
}
.left-right-block {
}
.block-left {
  width: 300px;
  color: white;
  font-size: 27px;
}

.block-left p {
  padding: 25px 0 0 25px;
}

.block-right {
  position: relative;
  width: 300px;
  background: linear-gradient(44deg, #114b66, var(--main-color));
}
.block-right_item {
}
.right-text {
}
.price-space {
}
.pay-input {
}
.pay {
}
.installment {
}
.install {
}
.price-text {
}
