@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('./fonts/younglovees.ttf');

*:root {
  --main-color: #477a8d;
  --dark-color: #114b66;
  --light-color: #a5c6cd;
}
body {
  font-family: 'Forum';
}

/* Первый лист */
header {
  height: max-content;
  background-image: url(./img/header-photo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-logo {
  margin-top: 5%;
  margin-left: 30%;
  align-items: center;
  width: 30%;
  height: 30%;
}

.date {
  margin-top: 10%;
  margin-left: 60%;
  width: 15%;
  height: 2.5vw;
  padding-top: 0.5vw;
  border: solid 0.5px;
  border-color: var(--main-color);
  border-radius: 30px;
  text-align: center;

  font-family: 'Forum';
  font-size: 1.4vw;
  color: var(--main-color);
}
.logo-text {
  margin-top: 5%;
  margin-left: 39.11%;
  width: 50%;
  height: 50%;
}
.header-text {
  margin-top: 2%;
  margin-left: 41%;
  font-family: 'Forum';
  font-size: 1.3vw;
  line-height: 25px;
  color: var(--dark-color);
}

.headerbtn {
  margin: 2% 0 10% 41%;
}
/* Кнопка */
.btn {
  width: 20%;
  height: 2.9vw;
  border: solid 0.5px;
  border-color: var(--main-color);
  background-color: var(--main-color);
  border-radius: 30px;

  font-family: 'Forum';
  font-size: 1.3vw;

  color: white;
}

.btn:hover {
  opacity: 0.7;
}

/* Второй лист */
.article {
  background: var(--main-color);
}
.article-title {
  padding-top: 5.078vw;
  margin-left: 20.182vw;
  font-size: 2.929vw;
  font-weight: 300;
  color: #efeeea;
}
.article-text-block {
  margin: 0.846vw 0 0 20.182vw;
  font-size: 1.497vw;
  color: #efeeea;
  line-height: 1.562vw;
  padding-bottom: 5.078vw;
}

.article-text-block p {
  padding-top: 2.278vw;
}

/* Второй текстовый блок */
.first-item {
  margin: 5.078vw 0 5.078vw 20.182vw;
  line-height: 1.562vw;
  font-size: 1.497vw;
  color: var(--main-color);
}

.first-item p {
  padding-top: 1.302vw;
}
/* Третий текстовый блок */
.article-text-second {
  background-color: var(--main-color);
}
.second-text-title {
  padding-top: 5.078vw;
  margin-left: 20.182vw;
  color: #ffff;
  font-size: 2.929vw;
}

.second-item {
  padding-top: 3.125vw;
  padding-bottom: 5.078vw;
  margin-left: 20.182vw;
  font-size: 1.497vw;
  color: #ffff;
}
/* Что вы получите, пройдя курс? */
.course-info {
  margin-left: 20.182vw;
}
.course-info-title {
  padding-top: 5.078vw;
  padding-bottom: 3.125vw;
  font-size: 2.929vw;
  color: var(--dark-color);
}

.info-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.627vw;
  row-gap: 1.302vw;
  padding-bottom: 5.078vw;
}
.course-info-list-item {
  padding-top: 1.302vw;
  width: 14.974vw;
  height: 14.974vw;
  border-radius: 1.302vw;
  background-color: #f3f5f7;
  align-items: center;

  font-size: 1.302vw;
  color: var(--dark-color);
}

.course-info-list-item p,
img {
  padding-left: 1.953vw;
  padding-top: 1.953vw;
}

.course-info-list-item img {
}

/* Курс подойдет для всех */
.course-audience {
  background: var(--main-color);
}
.course-audience-title {
  padding-top: 5.078vw;
  margin-left: 20.182vw;
  color: white;
  font-size: 2.929vw;
}
.audience-picture {
  /* z-index: 0; */
  position: absolute;
  margin-top: 7.161vw;
  margin-left: 32.552vw;
  width: 45.312vw;
  height: 27.994vw;
}
.list {
  /* z-index: 4; */
  padding-top: 1.823vw;
  padding-left: 22.786vw;
}
.audience-list-item {
  margin-top: 1.302vw;
  width: 27.083vw;
  min-height: 3.971vw;
  border: solid 0.5px;
  border-color: var(--main-color);
  background-color: #eaf5f9;
  border-radius: 2.604vw;
  padding: 0.651vw 0 0 1.302vw;

  font-size: 1.302vw;
  color: var(--dark-color);
}
.list-icon {
  position: absolute;
  margin-top: -2.018vw;
  margin-left: -6.184vw;
  width: 5%;
}
.audience-text {
  margin: 3.125vw 0 0 19.531vw;

  width: 39.062vw;
  height: 8.463vw;
  padding: 1.302vw 0 0 1.953vw;
  border: solid 0.5px;
  border-color: var(--main-color);
  background-color: #77b2c8;
  border-radius: 2.604vw;
  font-size: 1.302vw;
  color: white;
}
.audience-item {
  color: var(--main-color);
  padding-bottom: 5.078vw;
}
/* Программа курса */
.course-program-title {
  padding-top: 5.078vw;
  padding-bottom: 3.125vw;
  margin-left: 20.182vw;
  color: var(--main-color);
  font-size: 2.929vw;
}
.course-program-block {
  border-style: solid;
  border-style: none;
  border-bottom: 1px solid var(--dark-color);
  margin-left: 19.531vw;
  width: 58.594vw;
}

.course-program-block h3 {
  border-top: 1px solid var(--dark-color);
}

h3 button {
  border: 0;
  display: flex;
  justify-content: space-between;

  height: 5.078vw;
  padding: 1.953vw 0;
  color: var(--dark-color);
  width: 53.385vw;
  font-size: 1.302vw;
}

h3 button:focus svg {
  outline: 1px solid var(--dark-color);
}

button svg {
  height: 1em;
  margin-left: 0.5em;
}

.program-text {
  padding: 3.125vw 0;
  color: var(--dark-color);
  font-size: 1.302vw;
  line-height: 1.627vw;
}

.program-text p {
  padding-top: 1.627vw;
}

.program-video {
  padding: 3.125vw 0 0 20.833vw;
}

[aria-expanded='true'] .vert {
  display: none;
}

[aria-expanded] rect {
  fill: currentColor;
}

/* Суфийское пространство */
.space {
  background-image: url(img/waves.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 72.9vw;

  margin-top: 7.812vw;
}
.space-block {
  position: absolute;
  border: 2px solid var(--dark-color);
  background-color: white;
  border-radius: 2.278vw;
  width: 61.848vw;
  height: 42.317vw;
  margin-left: 18.229vw;
  margin-top: 16.276vw;
}
.space-block-title {
  padding: 5.078vw 0 0 3.906vw;
  font-size: 2.604vw;
  color: var(--dark-color);
}
.space-block-text {
  padding-left: 3.906vw;
  width: 55.338vw;
  padding-top: 3.125vw;
  font-size: 1.237vw;
  line-height: 1.627vw;
  color: var(--dark-color);
}
.space-block-text p {
  padding-top: 1.627vw;
}

.space-btn {
  margin-left: 3.906vw;
  margin-top: 3.125vw;
}

/* Что вы сможете после курса */
.course-possibilities {
  margin-top: 5.859vw;
  height: 68.359vw;
  background: var(--main-color);
}
.course-possibilities-title {
  padding: 5.208vw 0 1.953vw 19.531vw;
  font-size: 2.604vw;
  color: white;
}
.possibilities-list {
  margin-left: 7.161vw;
  padding: 2.604vw 0 0 16.276vw;
  font-size: 1.497vw;
  width: 58.594vw;
  color: white;
}

.number {
  position: absolute;
  margin-left: -4.557vw;
  padding-top: 0.195vw;
  border: 1px solid var(--main-color);
  background: white;
  color: var(--dark-color);
  width: 1.953vw;
  height: 1.953vw;
  border-radius: 3.255vw;
  font-size: 1.302vw;
  text-align: center;
}

/* Лицензии */
.documents-block {
  height: 84.635vw;
}
.documents-block-title {
  margin: 4.557vw 0 1.953vw 22.786vw;
  font-size: 2.929vw;
  color: var(--dark-color);
}
.document-text {
  margin-left: 22.786vw;
  width: 52.083vw;
  font-size: 1.497vw;
  color: var(--dark-color);
  line-height: 1.627vw;
}

.document-text p {
  padding-top: 1.953vw;
}

/* Slider */
.slider {
  margin-top: 30px;
  margin-left: 250px;
  height: 380px;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: auto;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

/* price block */
.price-block {
  background-color: var(--main-color);
}
.price-block-title {
  padding: 80px 0 50px 230px;
  font-size: 45px;

  color: white;
}
.price-title {
  width: 250px;
}
.price-block_1 {
  border: 1px solid white;
  width: 300px;
  height: 505px;
  border-radius: 35px;
  margin-left: 220px;
}

.first-block {
  border: 1px solid white;
  background-color: white;
  height: 250px;
  width: 270px;
  border-radius: 35px;
  margin-top: 40px;
  margin-left: 15px;
}
.block-list {
  list-style-type: none;
  align-self: center;
  padding: 20px 0 0 50px;
  font-size: 20px;
  color: var(--dark-color);
}
.block-list:first-child {
  margin-top: 30px;
}
.line {
  width: 80%;
  margin-top: 10px;
  margin-left: 20px;
  border-top: 1px solid var(--main-color);
}

.present-block {
  margin-top: 12px;
  margin-left: 15px;
  border: 1px solid white;
  background-color: white;
  height: 105px;
  width: 270px;
  border-radius: 35px;
}
.present img {
  margin-top: -10px;
}
.present p {
  font-size: 20px;
  color: var(--dark-color);
  margin-left: 85px;
  margin-top: -45px;
}
.price-block-item {
  margin-left: 250px;
  margin-top: 30px;
  color: white;
  font-size: 23px;
  line-height: 35px;
}
.price_1-item {
  font-size: 30px;
}
.price_2-item {
  padding-top: -80px;
  font-size: 30px;
}

.price-second span {
  font-size: 30px;
  margin-bottom: 35px;
}
.price_2 {
  margin-top: 25px;
}

.decoration {
  font-size: 30px;
  color: #a5c6cd;
  text-decoration: line-through;
}
.price-block_2 {
  position: absolute;
  margin: -814px 0 0 550px;
}
.block_2-title {
  margin-top: 20px;
  margin-left: 230px;
  color: rgba(255, 255, 255, 0.671);
  font-size: 23px;
}
.price-block_2 img {
  margin: -43px 0 20px 50px;
  width: 450px;
}
.second-block_1 {
  margin-top: 39px;
  border: 1px solid white;
  width: 600px;
  height: 505px;
  border-radius: 35px;
}
.left-right-block {
  display: flex;
}
.block-left {
  width: 300px;
  color: white;
  font-size: 20px;
}

.block-left p {
  padding: 25px 0 0 25px;
}

.block-right {
  width: 300px;
  height: 400px;
  background: linear-gradient(95deg, var(--dark-color), var(--main-color));
  border-radius: 35px;
}
.block-right_item {
  border: 1px solid var(--dark-color);
  background-color: var(--dark-color);
  width: 298px;
  height: 78px;
  border-radius: 38px;
  font-size: 25px;
  color: white;
  padding-top: 5px;
  text-align: center;
}
.block-right_item p {
  padding: 20px 30px;
}
.right-text {
  padding-top: 25px;
  padding-left: 40px;
}

.right-text p {
  color: white;
  font-size: 20px;
  padding-top: 20px;
}

.right-text-item {
  font-family: 'Young Love ES';
  margin-top: 90px;
  margin-left: 120px;
}

.second-block-price {
  position: absolute;
  margin-left: 610px;
  margin-top: -236px;
  color: white;
  font-size: 25px;
}
/* Кнопки оплаты */
.order {
  margin-left: 230px;
  margin-top: 50px;
  display: flex;
}

.order-first {
  width: 300px;
}
.order-first button {
  margin-top: 20px;
}

.order-second {
  width: 300px;
}
.order-second button {
  margin-top: 20px;
  margin-left: 20px;
}
.pay {
  background-color: white;
  color: var(--dark-color);
  width: 270px;
  height: 70px;
  border-radius: 45px;
  padding: 0;
}

.install {
  padding: 0;
  background-color: white;
  color: var(--dark-color);
  width: 270px;
  height: 70px;
  border-radius: 45px;
}

.price-text {
  margin: 70px 0 0 230px;

  padding-bottom: 90px;
  color: white;
  font-size: 25px;
}

/* finish list */
.finish-block-title {
  margin: 4.557vw 0 0 18.229vw;
  font-size: 2.929vw;
  color: var(--dark-color);
}
.finish-list {
  margin-left: 14.322vw;
  font-size: 1.302vw;
  color: var(--dark-color);
  padding: 1.302vw 1.302vw;
}
.finish-list li {
  margin-top: 1.953vw;
}

.finish-list-item {
  background: url(./img/Star\ 2.png) no-repeat center left;
  background-size: 2.5%;
  padding-left: 4.557vw;
}

.reviews ul {
  width: 47.526vw;
  margin: 3.255vw 0 0 13.997vw;
  display: flex;
  justify-content: space-between;

  color: var(--main-color);
  font-size: 1.302vw;
}
.reviews-list {
  text-align: center;
  width: 13.021vw;
}
.percent {
  font-size: 3.255vw;
}
/* Сделать слайдер видео и кнопки оплата */
