@media (max-width: 500px) {
  html {
    overflow-x: hidden;
  }
  body {
    background-color: white;
    box-sizing: border-box;
  }
  /* Первый лист */
  header {
    height: 900px;
    background-image: url("../img/headerback-mobile.png");
    background-size: 210vw;
    background-color: white;
  }

  .header-logo {
    margin-top: 3%;
    margin-left: 12%;
    width: 70%;
  }

  .mobile-gradient {
    margin-top: 30%;
    height: 20%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 100%
    );
  }
  .mobile-header {
    margin-top: -1vw;
    background: white;
  }

  .course-date {
    position: absolute;
    margin-left: 30vw;
    margin-top: -1%;
    font-size: 4vw;
    display: flex;
    width: 60%;
  }

  .logo-text {
    padding-top: 10%;
    margin-left: 9.57%;
    width: 98%;
  }

  .header-text {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 4.5vw;
    line-height: 5vw;
  }

  .headerbtn {
    margin: 6% 0 3vw 20%;
    width: 60%;
    height: 9.9vw;
    border-radius: 10vh;
    font-size: 4.3vw;
  }
  /* Второй лист */
  .article-title {
    padding-top: 5.078vw;
    margin-left: 10%;
    font-size: 8vw;
    line-height: 7vw;
    width: 70%;
  }
  .article-text-block {
    width: 80%;
    margin: 3vw 0 0 10%;
    font-size: 4.5vw;
    line-height: 5vw;
    padding-bottom: 5.078vw;
  }

  .article-text-block p {
    padding-top: 5vw;
  }

  /* Второй текстовый блок */
  .second-text-title {
    padding-top: 10%;
    margin-left: 10%;
    font-size: 8vw;
    line-height: 7vw;
    width: 50%;
  }

  .text-second-block {
    width: 80%;
    margin: 3vw 0 20% 10%;
    font-size: 4.5vw;
    line-height: 5vw;
    padding-bottom: 5.078vw;
  }

  .text-second-block p {
    padding-top: 5vw;
  }

  /* Что вы получите, пройдя курс? */
  .course-information {
    background-color: white;
  }
  .course-info {
    margin-left: 11.182vw;
  }
  .course-info-title {
    margin-top: -15%;
    width: 80%;
    padding-bottom: 8.125vw;
    font-size: 8vw;
    line-height: 7vw;
  }

  .info-list {
    width: 90%;
    column-gap: 2.627vw;
    row-gap: 2.627vw;
    margin-bottom: 8.078vw;
  }
  .course-info-list-item {
    width: 37.974vw;
    height: 25.974vw;
    border-radius: 2vh;
    padding-left: 4vw;
  }

  .course-info-list-item p {
    font-size: 3.5vw;
  }
  .course-info-list-item img {
    width: 30%;
  }
  .course-info-list-item:nth-child(4) {
    width: 37.974vw;
    height: 25.974vw;
  }

  /* Курс подойдет для всех */
  .course-suitable {
    overflow-x: hidden;
  }

  .course-audience-title {
    width: 60%;
    margin-left: 10%;
    padding-top: 15%;
    font-size: 8vw;
    line-height: 7vw;
  }

  .list {
    padding-top: 4.823vw;
    padding-left: 10.786vw;
  }
  .audience-list-item {
    margin-top: 2.302vw;
    width: 81.083vw;
    height: 15vw !important;
    border-radius: 3vh;
    padding: 2vw 0 2vw 7.702vw !important;
  }

  .audience-list-item p {
    width: 90%;
    font-size: 4.5vw;
  }

  .list-icon {
    display: none;
  }
  .audience-text {
    margin: 3.125vw 0 0 11.182vw;
    width: 81.083vw;
    height: 40.463vw;
    padding: 4.5vw 0 0 6vw;
    border-radius: 4vh;
  }
  .audience-text p {
    width: 95%;
    font-size: 4.5vw;
  }

  .audience-btn {
    margin: 10vw 0 15% 21vw;
    width: 60%;
    height: 9.9vw;
    border-radius: 10vh;
    font-size: 4.3vw;
  }

  /* Программа курса */
  .course-program-title {
    padding-top: 10%;
    padding-bottom: 5.125vw;
    margin-left: 10%;
    font-size: 8vw;
  }
  .course-program-block {
    margin-left: 10%;
    width: 75vw;
  }

  .course-program-block h3 {
    height: 13.078vw;
    width: 75vw;
  }

  h3 p {
    padding: 4vw 2vw;
    font-size: 4.5vw;
  }

  h3 button {
    font-size: 6vw;
    margin-right: 3vw;
  }

  .program-text p {
    padding-top: 3.627vw;
    font-size: 4vw;
    line-height: 4vw;
  }

  .program-video {
    padding: 3.125vw 0 0 23.833vw;
  }

  .program-video > iframe {
    height: 50.953vw;
  }
  .arrow-items {
    margin-left: 63%;
  }
  .arrow-items p {
    margin-top: 3%;
    font-size: 4vw;
  }
  .arrow-items img {
    width: 10%;
  }

  /* Суфийское пространство */
  .space {
    background-position: top;
    background-size: 92vh;
    height: 195.9vw;
    margin-top: 8.812vw;
  }
  .space-block {
    border-radius: 4vh;
    width: 76.848vw;
    height: 540.317px;
    margin-left: 10.531vw;
    margin-top: 14.276vw;
  }
  .space-block-title {
    padding: 5.078vw 0 0 4.906vw;
    font-size: 8vw;
    line-height: 7vw;
  }
  .space-block-text {
    padding-left: 4.906vw;
    width: 83%;
    font-size: 4.3vw;
    line-height: 4.7vw;
  }
  .space-block-text p {
    padding-top: 3.627vw;
    width: 115%;
  }

  .space-btn {
    width: 60%;
    height: 9.9vw;
    border-radius: 10vh;
    margin-left: 4.906vw;
    margin-top: 6.125vw;
    font-size: 4.5vw;
  }

  /* Что вы сможете после курса */
  .course-possibilities {
    margin-top: 5.859vw;
    height: 1450px;
  }
  .course-possibilities-title {
    padding: 10vw 0 7vw 10%;
    font-size: 8vw;
    line-height: 7vw;
    width: 70%;
  }
  .possibilities-list {
    margin-bottom: 0.8vw;
    margin-left: -6%;
    width: 75%;
    height: max-content !important;
    border-radius: 3vh;
  }

  .possibilities-list p {
    width: 90%;
    padding: 2vw 0 2vw 5vw;
    font-size: 4.5vw;
  }
  .possibilities-list:nth-child(2),
  .possibilities-list:nth-child(4),
  .possibilities-list:nth-child(8) {
    margin-top: 0;
  }

  .possibilities-list:nth-child(6) {
    margin-top: 0;
    border-radius: 2.5vh;
  }

  .course-sphere img {
    width: 70%;
    position: absolute;
    margin-left: 28%;
    margin-top: 15.5%;
  }

  .posibil-btn {
    width: 55%;
    height: 9.9vw;
    border-radius: 10vh;
    margin-left: 11%;
    margin-top: 8.125vw;
    font-size: 4.5vw;
  }

  /* Лицензии */
  .documents-block {
    height: 1590px;
  }
  .documents-block-title {
    margin: 13.557vw 0 1.953vw 10%;
    font-size: 8vw;
    line-height: 7vw;
  }
  .document-text {
    margin-bottom: 3.125vw;
    margin-left: 11.182vw;
    width: 80%;
    font-size: 4.5vw;
    line-height: 5vw;
  }

  .document-text p {
    padding-top: 4.953vw;
  }

  .img-container {
    display: flex;
    flex-wrap: wrap;
  }
  .document-image {
    margin-top: 5.125vw;
  }

  .document-image img {
    border-radius: 3vw;
  }

  .first-doc {
    width: 70%;
    margin-left: 10%;
  }

  .second-doc {
    position: absolute;
    width: 33vh;
    margin-left: -2vw;
    margin-top: 90vw;
  }

  /* Slider */
  .swiper-slide {
    padding-left: 20%;
  }

  .swiper {
    margin: 10vw 0 0 20%;
    width: 65%;
    height: 20%;
  }

  .swiper-slide img {
    width: 70%;
    border-radius: 5vw;
    align-items: center;
  }

  /* price block */
  .price-block {
    height: 1550px;
  }
  .price-block-title {
    padding: 17.078vw 0 9vw 10%;
    font-size: 8vw;
  }
  .price-title {
    width: 44.276vw;
    padding-top: 4.302vw;
    padding-left: 8.627vw;
  }
  .price-block_1 {
    width: 55.531vw;
    height: 79.599vw;
    border: 1px solid white;
    border-radius: 3vh;
    margin-left: 20.182vw;
  }

  .first-block {
    height: 43.276vw;
    width: 46.578vw;
    border-radius: 3vh;
    margin-top: 3.302vw;
    margin-left: 4.176vw;
  }
  .block-list {
    padding: 3.302vw 0 0 7.255vw;
    font-size: 4.5vw;
    line-height: 4vw;
  }
  .block-list:first-child {
    margin-top: 2vw;
  }
  .line {
    width: 80%;
    margin-top: 3vw;
    margin-left: 3.302vw;
  }

  .present-block {
    margin-top: 2.781vw;
    margin-left: 4.176vw;
    height: 15.836vw;
    width: 46.578vw;
    border-radius: 2.2vh;
  }

  .present {
    padding-top: 5vw;
    padding-left: 5.302vw;
  }
  .present img {
    margin-top: -0.651vw;
    width: 13%;
  }
  .present p {
    font-size: 4.5vw;
    line-height: 4vw;
    margin-left: 7.557vw;
    margin-top: -6.7vw;
  }

  /* Второй блок оплаты */
  .block_2-title {
    margin: 1.951vw 0 0 0;
    text-align: center;
    font-size: 4vw;
  }
  .second-block_1 h2 {
    margin: 2vw 0 2vw 12vw;
    font-size: 4.5vw;
    line-height: 5vw;
  }
  .second-block_1 h2 span {
    font-size: 10vw;
  }
  .second-block_1 {
    margin-top: 100.539vw;
    width: 55.531vw;
    height: 123.599vw;
    border-radius: 3vh;
    margin-left: -21.282vw;
    border: 1px solid white;
  }
  .left-right-block {
    display: inline;
  }
  .block-left {
    margin-top: 2vw;
    margin-left: 4vw;
    width: 55.903vw;
    font-size: 4.5vw;
  }

  .block-left p {
    padding: 1.927vw 0 0 1vw;
  }
  /* Блок градиент */
  .block-right {
    margin-top: 6vw;
    margin-left: 4vw;
    width: 46.531vw;
    height: 50.893vw;
    border-radius: 2vh;
  }
  .block-right_item {
    width: 46.401vw;
    height: 12.078vw;
    border-radius: 3vh;
    font-size: 4.758vw;
    text-align: center;
    padding-top: 2vw;
  }
  .block-right_item p {
    padding: 1.302vw 1.953vw;
  }
  .right-text {
    padding-top: 1.627vw;
    padding-left: 2.604vw;
  }

  .right-text p {
    font-size: 4.3vw;
    padding-top: 1.3vw;
  }

  .right-text-item {
    font-size: 9.255vw;
    margin-top: 2.906vw;
    margin-left: 21.8125vw;
  }

  /* Цена курсов */
  .price-block-item {
    font-size: 4.5vw;
    line-height: 6.578vw;
  }

  .price_1 p {
    margin-left: 27.833vw;
    padding-top: 2.5vw;
  }

  .price_1 span {
    font-size: 7.604vw;
  }
  .price_2 {
    position: absolute;
    margin-top: 151.474vw;
    margin-left: 27.833vw;
  }
  .price_2 span {
    font-size: 7.604vw;
  }

  /* Кнопки оплаты */
  .order {
    display: inline;
  }

  .order-first {
    margin-left: 25vw;
  }
  .order-first button {
    margin-top: 1.302vw;
    width: 44.531vw;
    height: 8vw;
    border-radius: 2vh;
    font-size: 4vw;
    transition: 0s;
  }

  .order-second button {
    margin-top: 175.302vw;
    margin-left: 25vw;
    width: 44.531vw;
    height: 8vw;
    border-radius: 2vh;
    font-size: 4vw;
  }

  .price-text {
    width: 90%;
    margin: 11.557vw 0 0 11.182vw;
    padding-bottom: 5.859vw;
    font-size: 4vw;
  }

  /* finish list */
  .finish-block-title {
    margin: 13.557vw 0 0 10%;
    font-size: 8vw;
  }
  .finish-list {
    margin-top: 5vw;
    margin-left: 10.182vw;
    font-size: 4.5vw;
    padding: 0;
  }
  .finish-list li {
    margin: 1vw 0;
    max-height: 25vw;
    width: 90%;
  }

  .finish-list-item {
    background-size: 8.8%;
    padding-left: 12.557vw;
    padding-top: 2.651vw;
  }
  /* Блок про автора курса */
  .about-author {
    font-size: 4.5vw;
    margin-left: 9.182vw;
    margin-top: 10vw;
  }
  .author-visible-info {
    display: inline;
  }
  .author-visible-info img {
    width: 60%;
    margin-left: 15%;
    margin-bottom: 10vw;
    border-radius: 2vw;
  }
  .visible-text {
    width: 90%;
    margin-left: 2vw;
    margin-bottom: 5vw;
  }
  .read-more {
    margin: 5vw 0 5vw 2vw;
    width: 28%;
  }
  .open-text {
    display: none;
    margin-top: 3vw;
    width: 90%;
    margin-left: 2vw;
  }

  .open-text p {
    margin-bottom: 5vw;
  }

  .hide-text {
    width: 21%;
  }

  /* Оценка в процентах */
  .reviews ul {
    width: 90.526vw;
    margin: 8.955vw 0 0 30.997vw;
    display: inline;
    font-size: 4.5vw;
  }
  .reviews-list {
    margin-top: 11vw;
    margin-left: 23.531vw;
    text-align: center;
    width: 50%;
  }
  .percent {
    font-size: 12.255vw;
    margin-bottom: 2.302vw;
  }

  /* Slider 2 */
  .reviews-swiper > .swiper {
    width: 90%;
    margin: 1.125vw 0 0 5%;
    padding-right: 7vh;
  }

  /* Slider 3 */
  .slider_3 > .swiper {
    margin: 1.125vw 0 12.078vw 5%;
    width: 93%;
    padding-right: 7vh;
  }

  .swiper-slide > iframe {
    width: 70%;
    height: 43vh;
  }

  /* Footer */
  .footer {
    height: 70vh;
  }
  .footer-name {
    margin-top: 7.078vw;
    margin-left: 26%;
    width: 50%;
  }
  .footer-btn {
    width: 44.531vw;
    height: 9.9vw;
    border-radius: 10vh;
    font-size: 4vw;
    margin-left: 27.8%;
    margin-top: 10%;
  }

  /*Всплавыющее окно оплаты*/
  .window:target .window_content {
    transform: perspective(100%) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
  }

  .window_body {
    min-height: 100%;
    padding: 1.953vw 0.651vw;
  }
  .window_content {
    width: 80vw;
    height: 60vw;
    padding: 30px;
    opacity: 0;
    border-radius: 2vw;
  }
  .window_close > img {
    right: 4vw;
    top: 2vw;
    width: 5vw;
  }
  .window_title {
    font-size: 3vw;
    margin: 3vw 0;
  }

  .window-social {
    margin: 2vw 0 1vw 6vw;
    width: 85%;
    height: 7vw;
    background-color: #f3f5f7;
    border-radius: 1vw;
    display: flex;
  }

  .window-social p {
    width: 100%;
    font-size: 3vw;
    margin: 2vw 3vw;
  }

  /* Увеличение фото */
  #zoom .popup img {
    top: 50%;
    left: 50%;
    width: 100%;
  }
  #zoom .popup span {
    top: 17vw;
    right: 10vw;
    width: max-content;
    height: max-content;
    font-size: 9vw;
  }
}
